##K.Naveen kumar
221710313027

In [9]:
#1 Write a Python program to add, subtract, multiple and divide two Pandas Series. 
#Sample Series: [2, 9, 7, 7, 3], [1, 5, 5, 11, 9]
#Sample Output:[2, , 7, 7, 3] + [1, 5, 5, 11, 9] = [3, 14, 12, 18, 12]

import pandas as pd
ds1 = pd.Series([2, 9, 7, 7, 3])
ds2 = pd.Series([1, 5, 5, 11, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)

Add two Series:
0     3
1    14
2    12
3    18
4    12
dtype: int64

In [3]:

#2Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 
#Sample Output:
#Original Series:
#0 3.000938 1 11.370722 2 14.612143 3 8.9902564 13.925283 5 12.056875.... 17 14.118931 18 8.247458 19 5.526727
#dtype: float64
#Minimum, 25th percentile, median, 75th, and maximum of a given series:
#[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

import pandas as pd
import numpy as np
state = np.random.RandomState(100)
series = pd.Series(state.normal(10, 4, 20))
print("Original Series:")
print(series)
result = np.percentile(series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

#3
Write a Pandas program to get the items of a given series not present in another given series. 
Sample Output:
Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64
sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64
Items of sr1 not present in sr2:
0 1
2 3
4 5
dtype: int64

In [4]:
import pandas as pd
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of sr1 not present in sr2:")
result = sr1[~sr1.isin(sr2)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

#4
Write a Pandas program to filter words from a given series that contain at least two vowels. 
Sample Output:
Original Series:
0 Red
1 Green
2 Orange
3 Pink
4 Yellow
5 White
dtype: object

Filtered words:
1 Green
2 Orange
4 Yellow
5 White
dtype: object

In [5]:
import pandas as pd
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

#5
Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [6]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['rekha', 'hema', 'jaya', 'James', 'sushma', 'Mike', 'Matthew', 'Laura', 'Kevin', 'John'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [2, 3, 2, 3, 2, 5, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Number of attempts in the examination is greater than 2")
print(df['attempts'] > 2)

Number of attempts in the examination is greater than 2
a    False
b     True
c    False
d     True
e    False
f     True
g    False
h    False
i    False
j    False
Name: attempts, dtype: bool