In [1]:
#1
def recur_factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*recur_factorial(n-1)  
num = int(input("Enter a number: "))  
if num == 0:  
   print("The factorial of 0 is 1")  
else:  
   print("The factorial of",num,"is",recur_factorial(num))

Enter a number: 6
The factorial of 6 is 720

In [2]:
#2
def recur_fibo(n):  
   if n <= 1:  
       return n  
   else:  
       return(recur_fibo(n-1) + recur_fibo(n-2))   
nterms = int(input("enter a value "))  
if nterms <= 0:  
   print("enter a number")  
else:  
   print("Fibonacci sequence:")  
   for i in range(nterms):  
       print(recur_fibo(i))

enter a value 5
Fibonacci sequence:
0
1
1
2
3

In [3]:
3
list1 = [10,20] 
sum = 0; 
for i in range(0,len(list1)):
    sum=sum+list1[i] 
print(sum)

30

In [4]:
#4
list1 = [11,23,45,23,64,22,11,24]
for num in list1:
    if num % 2 == 0:
        print(num, end = " ")

64 22 24

In [6]:
#5
l1=[10,20,4,5,66,89,10001,11,79]
s=l1[0]
for i in range(0,len(l1)):
    if l1[i]<s:
        a=l1[i]
        ind=i     
print(a)
print(ind+1)

5
4

In [7]:
#6
def isPalindrome(string):
    left_pos = 0
    right_pos = len(string) - 1
    while right_pos >= left_pos:
        if not string[left_pos] == string[right_pos]:
            return False
        left_pos += 1
        right_pos -= 1
        return True
print(isPalindrome('wow'))

True

In [10]:
#7
numbers = (1, 2, 3, 4, 5, 6, 17, 19,21) 
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
            count_even+=1
        else:
            count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 3
Number of odd numbers : 6

In [14]:
#8

for x in range(0,7):
  if x ==3 or x == 6:
    continue
  print(x)

0
1
2
4
5

In [28]:
#9
def prime(n):
  count=0
  for i in range(2,n+1):
      if n%i==0:
        count+=1
  if count==1:
      return "prime"
  else:
      return "not a prime"
n=int(input("enter n"))
print(prime(n))

enter n5
prime

In [18]:
#10
n = int(input("enter a number"))#12
if int(str(n**2)[::-1]) == int(str(n)[::-1])**2:
    print("Adam number")
else:
    print("Not an Adam Number")

enter a number12
Adam number